/*FONTS*/
@font-face {
 font-family: 'latoLight';
 src: url('../fonts/Lato-Light.ttf') format('opentype');
}
@font-face {
 font-family: 'latoLightItalic';
 src: url('../fonts/Lato-LightItalic.ttf') format('opentype');
}
@font-face {
 font-family: 'latoItalic';
 src: url('../fonts/Lato-Italic.ttf') format('opentype');
}
@font-face {
 font-family: 'latoBlack';
 src: url('../fonts/Lato-Black.ttf') format('opentype');
}
@font-face {
 font-family: 'lato';
 src: url('../fonts/Lato-Regular.ttf') format('opentype');
}
@font-face {
 font-family: 'latoMedium';
 src: url('../fonts/Lato-Medium.ttf') format('opentype');
}


/*TEXTS*/

.slogan{
	color: #979897;
	text-align: center;
	font-family: 'latoLightItalic', sans-serif;
	font-size: 27px;
}

h4{
	font-size: 65px;
	font-family: 'latoBlack';
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.whoWeAreTitle{
	color: #FEFEFE;
}
.whoWeAreText{
	color: #FFFFFF;
	font-family: 'latoLight';
	font-size: 20px;
	text-align: justify; 
}
.whoWeAreBoldText{
	color: #FFFFFF;
	font-family: 'latoItalic';
	font-size: 21px; 
	text-align: justify;
}
.servicesTitle{
	color: #E7EDEB;
}
.contactTitle{
	color: #bf2849;
	font-size: 83px;
}
.contactText{
	color: white;
	font-family: 'lato';
	font-size: 33px;
	text-align: center;
}
.intersectionText{
	color: #383838;
	font-family: 'latoLightItalic';
	font-size: 26px;
	text-align: center;
}
.servecesText{
	color:white;
	font-family: 'lato';
	font-size: 18px;
}

/*IMAGES*/
.logo{
	width: 100%;
}
.graphic{
	width: 100%;	
}
.icons{
	height: 100px;
}
.xsPicture{display: none;}

/*NAVBAR*/
nav ul a {
  font-family: 'latoLight';
  font-size: 18px;
}
nav ul a:hover{
	color: white!important;
	text-decoration: none!important;
}

/*ROWS AND COLS*/
.iconRow{
	margin-top: 60px;
}

/*FORM*/
input{
	border-radius: 0px!important;
  border: solid white!important;
}
textarea{
	border-radius: 0px!important;
  border: solid white!important;
}
.contactLabel{
	color:#CACABC;
	font-family: 'latoLightItalic';
	font-size: 17px;
}
.submit{
	font-family: 'latoMedium';
  background-color: #951439;
  text-transform: none;
  font-size: 17px;
}
